/* responsive CSS style */

/* responsive device for mobile */
@media screen and (min-width: 360px) and (max-width: 425px){
    .navbar-container{
      flex-direction: column;
        margin: 5rem auto;
    }

    .menu-container ul{
        flex-direction: column;
        margin-top: 2rem;
    }

    .banner-container{
        flex-direction: column-reverse;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }

    .img-container img{
        width: 100%;
    }

    .img-container{
        max-width: 100vw;
        align-content: center;
        padding: 1rem;
    }

    .title-container{
        flex-direction: column;
        justify-content:flex-start;
        align-items: start;
    }

    .banner-btn{
        text-align: center;
    }

    .title-heading-one{
        font-size: 2rem;
        text-align: center;
    }

    .title-heading-two{
        font-size: 5rem;
        text-align: center;
    }

    .online-games-container{
        flex-direction: column;
    }

    .play-instantly-container{
        flex-direction: column;
    }

    .icon-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        margin: 0 auto;
        padding: 0 50px;
    }

    .icon-box{
        width: 100px;
        gap: 0.8rem;
        justify-content: center;
        align-items: center;
        padding-left: 20px;
    }

    .icon-img{
        margin: 0;
        width: 45px;
    }

    .icon-description{
        font-size: .8rem;
    }

    .online-games-heading-container{
        margin-top: 50px;
    }

    .online-games-heading{
        font-size: 3rem;
    }
    
    .online-games-heading-description{
        font-size: 1rem;
    }

    .online-games-content{
        margin: 0 15px;
    }

    .box-description{
        margin: 15px;
    }
    .footer{
        width: 100%;
        height: 100%;
    }

    .footer-menu-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 0 auto;
        
    }

    .social-link-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 0 auto;
        gap: 2rem
    }

    .condition{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto;
        text-align: center;
        font-size: 16px;
        row-gap: 1rem;
        margin-left: 25px;
    }

    .copy{
        margin-top: 20px;
    }

    .copy-text{
        font-size: 15px;
    }

}

/* tablet and medium devices */
@media screen and (min-width: 425px) and (max-width: 768px){
    .navbar-container{
        flex-direction: column;
          margin: 5rem auto;
      }

      .menu-container ul{
        flex-direction: column;
        margin-top: 2rem;
    }

    .banner-container{
        flex-direction: column-reverse;
        background-image: none;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }

    .img-container img{
        width: 100%;
    }

    .img-container{
        max-width: 100vw;
        align-content: center;
        padding: 1rem;
    }

    .title-container{
        flex-direction: column;
        justify-content:flex-start;
        align-items: start;

    }

    .online-games-container{
        flex-direction: column;
    }

    .play-instantly-container{
        flex-direction: column;
    }

    .icon-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        grid-column: auto;
        column-gap: 0.5rem;
        row-gap: 0.5rem;
    }

    .icon-box{
        width: 130px;
        gap: 3px;
        height: 50px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .icon-img{
        margin: 0;
        width: 25px;
    }

    .icon-description{
        font-size: .5rem;
    }

    .online-games-heading-container{
        margin-top: 50px;
    }

    .online-games-heading{
        font-size: 3rem;
    }

    .online-games-heading-description{
        font-size: 1rem;
    }

    .online-games-container{
        gap: 120px;
    }


}
