/* responsive CSS style */

/* responsive device for mobile */
@media screen and (max-width: 576px){
    .navbar-container{
        flex-direction: column;
    }

    .logo-container{
        flex-direction: column;
    }

    .menu-container ul{
        flex-direction: column;
    }

    .banner-container{
        flex-direction: column-reverse;
    }

    img{
        width: 100%;
    }
}