/* responsive CSS style */

/* responsive device for mobile */
@media screen and (max-width: 425px){
    .navbar-container{
      flex-direction: column;
      margin: 0 auto;
      min-width: 100vw;
    }

    .menu-container{
        flex-direction: column;
        min-width: 100vw;
    }

    .banner-container{
        min-width: 100vw;
       padding: 20px;
    }
}