@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700;800&family=PT+Sans:wght@400;700&family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&family=Work+Sans:wght@400;500;600;700&display=swap');
/* CSS variables */
:root{
    --normal-font: 400;
    --medium-font:500;
    --semibold: 600;
    --bold:700;
    --primary-color: #FF42A5;
    --secondary-color: #4EC5F7;
    --transition: all 0.3s;
}

/* Smooth scroll effect */
html{
    scroll-behavior: smooth;
}

/* Resets */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

ul li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

/* navbar start here */
.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2.88rem 15rem;
}

.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.logo-container img{
    width: 50%;
    margin-right: 10px;
}

.logo-title{
    font-size: 35px;
    font-weight: var(--bold);
    cursor: pointer;
}

.text-design{
    color: #FF42A5;
    
}

.menu-container ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    font-size: 18px;
    font-weight: var(--medium-font);
    cursor: pointer;
}

.menu-item{
    font-size: 18px;
    font-weight: var(--medium-font);
}

.menu-icon{
    background-color: rgb(11, 2, 35, 0.10);
    text-align: center;
    padding: 15px 35px;
    border-radius: 8px;
    cursor: pointer;
}
/* navbar end here */

/* banner start here */
.banner-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url(../images/Group\ 14.png);
    background-position: bottom top, 100px center;
    background-repeat: no-repeat;
}

.title-container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.title-heading-one{
    color: #0B0223;
    font-size: 48px;
    font-weight: var(--semibold);
    text-transform: uppercase;
}

.title-heading-two{
    color: var(--primary-color);
    font-size: 95px;
    font-weight: var(--bold);
    text-transform: uppercase;
}

.description-item{
    font-size: 20px;
    font-weight: var(--medium-font);
    text-transform: lowercase;
    list-style-type: none;
    margin-top: 10px;
}

.banner-btn{
    margin-top: 15px;
}

.btn-one{
    display: inline-flex;
    padding: 21px 40px;
    gap: 10px;
    border: none;
    border-radius: 48px;
    background-color: var(--primary-color);
    margin-right: 10px;
    color: #FFF;
    font-weight: var(--bold);
    cursor: pointer;
}

.btn-two{
    display: inline-flex;
    padding: 21px 40px;
    gap: 10px;
    border: none;
    border-radius: 48px;
    background-color: var(--secondary-color);
    color: #FFF;
    font-weight: var(--bold);
    cursor: pointer;
}

.img-container{
    margin-right: 5rem;
}

/* online games start here */

.online-games-heading-container{
    text-align: center;
    margin-top: 130px;
}

.online-games-heading{
    font-size: 48px;
    font-weight: var(--bold);
}

.online-games-heading-description{
    font-size: 18px;
    font-weight: var(--normal-font);
    line-height: 30px;
}

.online-games-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-top: 50px;
}

.online-games-content{
    width: 342px;
    height: 400px;
}

.box-description{
    font-size: 20px;
    font-weight: var(--medium-font);
    line-height: 30px;
    margin-top: 24px;
}

/* play instantly start here */
.play-instantly-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 250px;
    
}

.play-instantly-title{
    font-size: 48px;
}

.play-instantly-description{
    font-size: 18px;
    font-weight: var(--normal-font);
    line-height: 30px;
}

.play-instantly-img-content-one{
    max-width: 30rem;
    max-height: 50rem;
    border-radius: 8px;
}

.play-instantly-img-content-two{
    max-width: 15rem;
    max-height: 50rem;
    border-radius: 8px;
    top: 7rem;
    margin-left: -100px;
    position: relative;
}

/* icon content start */
.icon-container{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    padding: 80px 25px;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.icon-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 80px;
    color: #000000;
    border-radius: 50px;
    transition: var(--transition);
    background-color: #FFF;
}

.icon-description{
    font-size: 20px;
    font-weight: var(--medium-font)
}

.icon-box:hover{
    color: var(--primary-color);
    border: 1px solid var(--primary-color)
}

.icon-img{
    margin-right: 10px;
}

/* footer start here */
footer{
    width: 100%;
    height: 536px;
    background-color: #0B0223;
    padding: 100px;
    color: #FFF;
}

.footer-logo-container{
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    gap: 10px;
}

.footer-menu-container{
    font-size: 16px;
    font-weight: var(--semibold);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    cursor: pointer;
}

.condition{
    text-align: center;
    margin-bottom: 10px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.60);
    cursor: pointer;
}

.condition-item{
    margin-right: 40px;
}

.copy{
    text-align: center;
    color: rgba(255, 255, 255, 0.60);
}

.footer-menu-item{
    list-style: none;
}

.social-link-container{
    align-items: center;
    text-align: center;
    cursor: pointer;
    font-size: 40px;
    padding: 30px;
}